@use '../abstracts' as *;

.contact {
  .container {
    @include container;
  }

  .card {
    display: block;
    gap: 2rem;
    background: #f3f3f3;
    height: 232px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    @include breakpoint-desktop {
      display: flex;
    }
  }
  .button {
    @include typography-sm-desktop;
    display: block;
    background: #191a23;
    border-radius: 14px;
    height: 60px;
    width: 100%;
    color: white;
    margin-bottom: 2rem;
  }

  .title {
    @include typography-lg-mobile;
    font-weight: 500;
    line-height: 2.871rem;
    padding: 0 0.5rem;

    display: block;

    @include breakpoint-desktop {
      @include typography-lg-desktop;
      line-height: 3.188rem;
    }
  }

  .subtitle {
    @include typography-xs-mobile;
    display: block;
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.436rem;

    @include breakpoint-desktop {
      @include typography-xs-desktop;
    }
  }

  .texto {
    display: block;
    margin-bottom: 2rem;
    @include breakpoint-desktop {
      display: flex;
      flex-direction: column;
    }
  }

  .image {
    display: none;
    @include breakpoint-desktop {
      display: flex;
      width: 100%;
    }
  }
}
