@use '../abstracts' as *;

.services {
  .container {
    @include container;

    .header {
      display: flex;
      gap: 2rem;
      flex-flow: column;
      align-items: center;
      text-align: center;
      margin-bottom: 2rem;

      @include breakpoint-desktop {
        text-align: left;
        flex-flow: row;
      }

      .title {
        background-color: $green;
        @include typography-lg-mobile;
        font-weight: 500;
        line-height: 2.871rem;
        padding: 0 0.5rem;

        @include breakpoint-desktop {
          @include typography-lg-desktop;
          line-height: 3.188rem;
        }
      }

      .subtitle {
        @include typography-xs-mobile;
        font-weight: 400;
        line-height: 1.436rem;

        @include breakpoint-desktop {
          @include typography-xs-desktop;
          line-height: 1.5rem;
          max-width: 50%;
        }
      }
    }

    .cards {
      display: grid;
      gap: 2rem;

      @include breakpoint-desktop {
        grid-template-columns: 1fr 1fr;
      }
    }

    .card {
      min-height: 310px;
      padding: 50px;
      border: 1px solid $black;
      border-bottom: 4px solid $black;
      border-radius: 45px;
      background-color: $green;
      display: grid;
      gap: 2rem;
      position: relative;
      cursor: pointer;

      @include breakpoint-desktop {
        grid-template-columns: 1fr 1fr;
      }

      &:hover {
        .arrow {
          transform: rotate(25deg);
        }
      }
    }

    .card-title {
      color: $black;
      width: fit-content;
    }

    .card-title-background {
      display: block;
      padding: 7px;
      border-radius: 7px;
      width: fit-content;
    }

    .card-image-wrapper {
      display: flex;
      justify-content: flex-end;

      @include breakpoint-desktop {
        justify-content: center;
      }
    }

    .card-image {
      max-width: 100%;
      max-height: 100%;
    }

    .card-title {
      @include typography-md-desktop;
      font-weight: 500;
      line-height: 38.28px;
    }

    .card-overlays {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      display: flex;
      gap: 1rem;
      align-items: center;

      .arrow {
        transition: transform 0.2s ease-in-out;
      }

      .span {
        display: none;
        @include breakpoint-desktop {
          display: block;
          font-family: 'Space Grotesk', sans-serif;
          font-size: 1.25rem;
          font-weight: 400;
        }
      }
    }

    /**
     * Cores para card cinza
     */
    .service-gray {
      background-color: $grey;

      .card-title-background {
        background: $green;
      }
    }

    /**
     * Cores para card verde
     */
    .service-green {
      background-color: $green;

      .card-title-background {
        background: $white;
      }
    }

    /**
     * Cores para card cinza escuro
     */
    .service-dark {
      background-color: $dark-grey;

      .card-title-background {
        background: $white;
      }

      .span {
        color: $white;
      }
    }

    /**
     * Cores para card cinza escuro variante fundo verde
     */
    .service-dark-green {
      background-color: $dark-grey;

      .card-title-background {
        background: $green;
      }

      .span {
        color: $white;
      }
    }
  }
}
