@use '../abstracts' as *;

.working {
  .container {
    @include container;
  }

  .title {
    @include typography-lg-mobile;
    font-weight: 500;
    line-height: 2.871rem;
    padding: 0 0.5rem;
    display: block;
    background: #b9ff66;

    @include breakpoint-desktop {
      @include typography-lg-desktop;
      line-height: 3.188rem;
    }
  }

  .hidden {
    display: none;
  }

  .cards {
    display: flex;
    margin: 1.2rem;
    padding: 1.5rem;
    flex-direction: column;
    gap: 10px;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    background-color: #f3f3f3;
    border: black solid 1.4px;
    border-bottom: black solid 5px;
    border-radius: 1.3rem;
    height: 50px;
    width: 100%;
    margin: 2px;
    padding: 1.5rem;
  }

  .plus {
    border: black solid 1.4px;
    border-radius: 1.3rem;
  }

  /**
   * Mobile
   */
  .mobile-hero {
    display: block;

    @include breakpoint-desktop {
      display: none;
    }

    .title {
      @include typography-xl-mobile;
      font-weight: 500;
      line-height: 3.429rem;
    }

    .text {
      @include typography-xs-mobile;
      font-weight: 400;
      line-height: 1.5rem;
      padding: 10px 0;
    }

    .button {
      @include typography-sm-desktop;
      background: #191a23;
      border-radius: 14px;
      height: 60px;
      width: 100%;
      color: white;
    }
  }

  /**
   * Desktop
   */
  .desktop-hero {
    display: none;

    @include breakpoint-desktop {
      display: grid;
      gap: 10rem;
      grid-template-columns: 5fr 7fr;
    }

    .left-items {
      display: flex;
      flex-direction: column;
      gap: 2.188rem;
    }

    .button {
      @include typography-sm-desktop;
      background: #191a23;
      border-radius: 14px;
      width: 300px;
      height: 60px;
      color: white;
    }

    .title {
      @include typography-xl-desktop;
      font-weight: 500;
      line-height: 4.785rem;
    }

    .text {
      @include typography-sm-desktop;
      font-weight: 400;
      line-height: 1.75rem;
    }
  }
}
